@import '../Mixins/mixins';

.block-carousel {
    .slick-dots {
        padding-top:25px;
        width:100%;
    }
}

.block-link {
    outline:0!important;
    display:block;
    text-decoration:none;
    background-color:$lighter-grey;
    .text {
        display:block;
        padding:15px 15px 15px 15px;
        color:$midblue;
        .title {
            color:$darkblue;
            font-size:23px;
            margin-bottom:9px;
            display:block;
        }
        p {
            margin:0 0 10px 0;
            font-size:0.85em;
        }
        .arrow-link {
            display:inline-block;
            margin-top:15px;
        }
        .sub {
            color:$mid-grey;
        }
    }
    &.horizontal {
        float:left;
        width:100%;
        margin-bottom:20px;
        position:relative;
        img {
            float:left;
            width:40%;
        }
        .text {
            position:absolute;
            right:0;
            top:0;
            bottom:0;
            float:left;
            width:60%;
            padding-top:15px;
            .title {
                font-size:18px;
            }
            .sub {
                position:absolute;
                bottom:15px;
                left:15px;
            }
        }
    }
    &.large-block {
        height:377px;
        .text {
            padding-top:8px;
        }
    }
}

@media only screen and (max-width:1450px) {
    .block-link.horizontal img {
        width:47%;
    }

    .block-link.horizontal .text {
        width:53%;
    }
}