@font-face {
  font-family: 'telefonica_capregular';
  src: url("fonts/telefonica_cap-webfont.eot");
  src: url("fonts/telefonica_cap-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/telefonica_cap-webfont.woff2") format("woff2"), url("fonts/telefonica_cap-webfont.woff") format("woff"), url("fonts/telefonica_cap-webfont.ttf") format("truetype"), url("fonts/telefonica_cap-webfont.svg#telefonica_capregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TelefonicaScript';
  src: url("fonts/TelefonicaScript.eot");
  src: url("fonts/TelefonicaScript.eot?#iefix") format("embedded-opentype"), url("fonts/TelefonicaScript.woff") format("woff"), url("fonts/TelefonicaScript.ttf") format("truetype"), url("fonts/TelefonicaScript.svg#TelefonicaScript") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "telefonica-icons";
  src: url("fonts/telefonica.eot");
  src: url("fonts/telefonica.eot?#iefix") format("embedded-opentype"), url("fonts/telefonica.woff") format("woff"), url("fonts/telefonica.ttf") format("truetype"), url("fonts/telefonica.svg#telefonica") format("svg");
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Telefonica';
  src: url('fonts/telefonicatext-regular-webfont.eot');
  src: url('fonts/telefonicatext-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/telefonicatext-regular-webfont.woff') format('woff'),
       url('fonts/telefonicatext-regular-webfont.ttf') format('truetype'),
       url('fonts/telefonicatext-regular-webfont.svg#telefonica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Telefonica';
  src: url('fonts/telefonicatext-bold-webfont.eot');
  src: url('fonts/telefonicatext-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/telefonicatext-bold-webfont.woff') format('woff'),
       url('fonts/telefonicatext-bold-webfont.ttf') format('truetype'),
       url('fonts/telefonicatext-bold-webfont.svg#telefonica') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Telefonica';
  src: url('fonts/telefonicatext-italic-webfont.eot');
  src: url('fonts/telefonicatext-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/telefonicatext-italic-webfont.woff') format('woff'),
       url('fonts/telefonicatext-italic-webfont.ttf') format('truetype'),
       url('fonts/telefonicatext-italic-webfont.svg#telefonica') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Telefonica';
  src: url('fonts/telefonicaheadline-light-webfont.eot');
  src: url('fonts/telefonicaheadline-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/telefonicaheadline-light-webfont.woff') format('woff'),
       url('fonts/telefonicaheadline-light-webfont.ttf') format('truetype'),
       url('fonts/telefonicaheadline-light-webfont.svg#telefonica') format('svg');
  font-weight: 300;
  font-style: normal;
}