@import '../Mixins/mixins';

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  font-family:FontAwesome;
}

*:before, *:after {
    font-family:FontAwesome;
}

body {
    margin:0;
    padding:0;
    font-family:'Telefonica', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size:1em;
    line-height:1.4;
    color:$darkblue;
    overflow-y: scroll;
    &.no-overflow {
        overflow-y:hidden;
    }
    &.no-scroll {
        .main-header {
            position:fixed;
            top:0;
            left:0;
            width:100%;
        }
    }
}


.container {
    display:block;
    position:relative;
    min-width:1200px;
}


.btn {
    text-align:center;
    display:inline-block;
    padding:8px 36px 12px 36px;
    border:0;
    background-color:$green;
    text-decoration:none;
    color:#ffffff;
    @include transition(all 300ms);
    &.blue {
        background-color:$strongblue;
    }
    &.darkblue {
        background-color:$darkblue;
        &:hover {
            background-color:darken($darkblue, 5%);
        }
    }
    &.cyan {
        background-color:$cyan;
        &:hover {
            background-color:darken($cyan, 5%);
        }
    }
    &:hover {
        background-color:darken($green, 6%);
        &.blue {
            background-color:darken($strongblue, 4%);
        }
    }
    &.hollow {
        padding:6px 34px 10px 34px;
        background:none;
        border:2px solid #ffffff;
        &:hover {
            background-color:#ffffff;
            color:$darkblue;
        }
    }
}

.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wide-container {
    position:relative;
    //max-width:1950px;
    /*margin-left:auto;
    margin-right:auto;*/
}

h1, h2, h3, h4, h5 {
    font-weight:normal;
    line-height:1.2;
}

img {
    max-width:100%;
}

.row {
    clear:both;
}


.spacer-10 {height:10px;}
.spacer-20 {height:20px;}
.spacer-40 {height:40px;}

.padding-40 {padding-top:40px; padding-bottom:40px;}
.padding-bottom-40 {padding-bottom:40px;}

.padding-60 {padding-top:60px; padding-bottom:60px;}

.section-heading {
    font-size:34px;
    margin:0 0 40px 0;
    padding:0;
    display:block;
    text-align:center;
    &.white {
        color:#ffffff;
    }
}
.center-div {
    padding-top:25px;
    text-align:center;
    .btn {
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15);
    }
}

.centered-content {
    text-align:center;
}

.centered {
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

.arrow-link {
    color:$cyan;
    &:after {
        font-family:telefonica-icons;
        content:"\E002";
        font-size:0.7em;
        vertical-align:middle;
        display:inline-block;
        margin:-2px 0 0 6px;
    }
}

.grey-section {
    background-color:$lighter-grey;
}

.blue-section {
    background-color:$strongblue;
}

.green-section {
    background-color:$green;
}

.whatsnew-carousel {
    .slick-dots {
        margin-top:15px;
    }
}

.covervid-video {
    margin-top:-80px;
}

.live-chat {
    position:absolute;
    right:0;
    top:27%;
    z-index:200;
    max-height:180px;
}