@import '../Mixins/mixins';

.intro-carousel {
    .intro-area {
        height:480px;
        margin-bottom:0;
        .title {
            font-size:40px;
        }
        .container {
            height:480px;
        }
        .content {
            z-index:90!important;
            -ms-transform: translateY(-50%); /* IE 9 */
            -webkit-transform: translateY(-50%); /* Safari */
            transform: translateY(-50%);
            @include opacity(0);
            @include transition(all 800ms);
            padding-left:20px;
        }
        &.slide-vis {
            .content {
                -ms-transform: translateY(-60%); /* IE 9 */
                -webkit-transform: translateY(-60%); /* Safari */
                transform: translateY(-60%);
                @include opacity(1);
            }
        }
    }    
    /* Slick */
    .slick-dots {
        position:absolute;
        bottom:20px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        li {
            button {
                background-color:#ffffff;
            }
            &.slick-active button {
                background-color:$green;
            }
        }
    }
}

.intro-container {
    z-index:100;
}

.intro-area {
    display:block;
    background:$darkblue;
    height:190px;
    margin-bottom:20px;
    padding:0;
    text-decoration:none;
    &:before {
        position:absolute;
        content:"";
        top:0;
        bottom:0;
        left:0;
        width:100%;
        //background-color:rgba(0,0,0,0.3)!important;
        
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+36,ffffff+99&0.3+37,0+100 */
        background: -moz-linear-gradient(left, rgba(0,0,0,0.3) 36%, rgba(4,4,4,0.3) 37%, rgba(255,255,255,0) 99%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(0,0,0,0.3) 36%,rgba(4,4,4,0.3) 37%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(0,0,0,0.3) 36%,rgba(4,4,4,0.3) 37%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

        display:block;
        z-index:90;
    }
    .content {
        display:block;
        max-width:40%;
        position:absolute;
        left:0;
        top:50%;
        -ms-transform: translateY(-50%); /* IE 9 */
        -webkit-transform: translateY(-50%); /* Safari */
        transform: translateY(-50%);
    }
    .buttons {
        clear:both;
        margin-top:28px;
        .btn {
            margin-right:15px;
        }
    }
    .title {
        font-size:25px;
        display:block;
        font-weight:300;
        color:#ffffff;
        &:after {
            content:"_";
            color:$yellow;
            font-weight:700;
        }
    }
    .date, .sub-title {
        display:inline-block;
        clear:both;
        color:#ffffff;
        font-size:20px;
        padding-top:10px;
        @include opacity(0.7);
    }

}