@import '../Mixins/mixins';

.product-intro {
    h2 {
        font-size:28px;
        margin:0 0 20px 0;
    }
    p {
        line-height:1.7;
    }
    .btn {
        margin-top:20px;
    }
}

.product-grid {
    margin-bottom:30px;
    float:left;
    width:100%;
    background-color:#ffffff;
    .product {
        background-color:darken($lighter-grey, 2%);
        display:block;
        height:200px;
        width:24.9%;
        margin-right:0.1%;
        margin-bottom:1px;
        //border:2px solid $strongblue;
        float:left;
        text-align:center;
        text-decoration:none;
        position:relative;
        padding:50px 15px 0 15px;
        @include transition(all 300ms);
        z-index:10;
        &.product-1, &.product-5 {
            width:24.8%;
            margin-left:0.1%;
        }
        /*&.product-4, &.product-8 {
            margin-right:0;
            width:25%;
        }*/
        &.product-1, &.product-2, &.product-3, &.product-4 {
            margin-top:1px;
        }
        span {
            color:$darkblue;
            font-size:18px;
            &:before {
                font-family:telefonica-icons;
                display:block;
                font-size:42px;
                margin-bottom:15px;
                color:$cyan;
                @include transition(all 300ms);
            }
            &.prod-1:before {content:"\E024";}
            &.prod-2:before {content:"\E006";}
            &.prod-3:before {content:"\E00F";}
            &.prod-4:before {content:"\E031";}
            &.prod-5:before {content:"\E024";}
            &.prod-6:before {content:"\E027";}
            &.prod-7:before {content:"\E025";}
            &.prod-8:before {content:"\E02B";}
        }
        &:hover {
            -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
            -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
            /*-ms-transform: scale(1.02);
            -webkit-transform: scale(1.02);
            transform: scale(1.02);*/
            z-index:11;
            background-color:darken($lighter-grey, 4%);
            span {
                //color:$strongblue;
                &:before {
                    -ms-transform: translateY(-3px);
                    -webkit-transform: translateY(-3px);
                    transform: translateY(-3px); 
                    //color:$strongblue;

                }
            }
        }
    }
}

.product-content {
    background-color:$darkblue;
    float:left;
    width:100%;
    display:none;
    clear:both;
    border-left:1px solid #ffffff;
    border-right:1px solid #ffffff;
    .product-content-padding {
        padding:15px;
    }
    .product-inner {
        float:left;
        width:33.333%;
        color:#ffffff;
        margin-bottom:20px;
        padding:10px 25px 10px 10px;
        h5 {
            font-size:18px;
            margin:0;
            font-weight:normal;
            &:after {
                font-family:telefonica-icons;
                content:"\E002";
                color:$yellow;
                font-size:0.75em;
                margin-left:6px;
                vertical-align:top;
                display:inline-block;
                margin-top:5px;
            }
        }
        p {
            margin:10px 0 0 0;
            @include opacity(0.7);
        }
        &:nth-child(3n+1) {
            clear:both;
        }
    }
}