
@import '../Mixins/mixins';

.slick-slider {
    position:relative;
}

.slick-dots {
    margin:0;
    padding:0;
    list-style:none;
    width:100%;
    display:inline-block!important;
    text-align:center;
    li {
        margin:0;
        padding:0 5px;
        display:inline-block;
        button {
            padding:0;
            margin:0;
            width:10px;
            height:10px;
            overflow:hidden;
            text-indent:-99px;
            border:0;
            outline:0!important;
            background-color:darken($light-grey, 8%);
            @include opacity(0.7);
            @include border-radius(5px);
        }
        &.slick-active {
            button {
                background-color:$green;
                @include opacity(1);
            }
        }
    }
}