@import '../Mixins/mixins';

.tf-meganav {
    position:absolute;
    top:69px;
    left:0;
    width:100%;
    z-index:999;
    display:none;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f8f8+30,ffffff+30 */
    background: rgb(248,248,248); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(248,248,248,1) 30%, rgba(255,255,255,1) 30%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(248,248,248,1) 30%,rgba(255,255,255,1) 30%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(248,248,248,1) 30%,rgba(255,255,255,1) 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    //TEMP
    .tf-meganav-area {
        height:440px;
        width:100%;
        display:none;
        &.visible-area {
            display:block;
        }
        .left-links {
            width:30%;
            height:440px;
            float:left;
            padding-top:20px;
            background-color:$lighter-grey;
            .left-list-title {
                display:block;
                color:$darkblue;
                font-size:22px;
                padding-bottom:10px;
                padding-left:10px;
                margin-bottom:10px;
                border-bottom:1px solid $light-grey;
            }
            ul.tf-meganav-links-left {
                margin:0;
                list-style:none;
                padding:0;
                margin:0;
                color:$darkblue;
                font-size:18px;
                li {
                    a {
                        padding:10px;
                        display:block;
                        color:inherit;
                        text-decoration:none;
                        @include transition(all 300ms);
                        &.selected, &:hover {
                            background-color:$strongblue;
                            color:#ffffff;
                        }
                    }
                }
            }
        }
        .right-links {
            width:70%;
            height:400px;
            float:left;
            padding:18px 30px;
            .right-area {
                display:none;
                position:relative;
                &.visible {
                    display:block;
                }

                .featured {
                    width:400px;
                    position:absolute;
                    right:0;
                    top:10px;
                    img {
                        margin-bottom:15px;
                    }
                    h5 {
                        font-size:16px;
                        margin:0;
                        font-weight:600;
                        margin-bottom:12px;
                        display:block;
                    }
                    p {
                        color:$darkblue;
                        margin:0 0 10px 0;
                    }
                }

            }
            .right-list-title {
                font-size:30px;
                color:$strongblue;
            }
            ul.tf-meganav-links-right {
                list-style:none;
                padding:0;
                margin:15px 0 0 0;
                color:$darkblue;
                li {
                    a {
                        color:inherit;
                        text-decoration:none;
                        font-size:18px;
                        padding:7px 0;
                        display:inline-block;
                        &:hover {
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
    }
}

@media only (max-width:1450px) {
    .tf-meganav .tf-meganav-area .right-links .right-area .featured {
        width:300px;
        right:20px;
    }
}