@import '../Mixins/mixins';

.white-block {
    display:inline-block;
    padding:15px;
    background-color:#ffffff;
    .social-header {
        .social-logo {
            max-width:50px;
            float:left;
            margin-right:15px;
        }
        .social-name {
            float:left;
            padding-top:4px;
            .handle {
                clear:both;
                display:block;
                color:$midblue;
                font-size:0.8em;
                margin-top:-1px;
            }
        }
    }
    .tweet {
        clear:both;
        float:left;
        padding:30px 0 40px 0;
        font-size:18px;
        a {
            color:$cyan;
            text-decoration:none;
            &:hover {
                color:darken($cyan, 10%);
            }
        }
    }

    ul.twitter-controls {
        clear:both;
        margin:0;
        padding:0;
        list-style:none;
        font-size:13px;
        li {
            display:inline-block;
            color:darken($light-grey, 10%);
            margin-right:25px;
            a {
                color:inherit;
                text-decoration:none;
                &:before {
                    margin-right:5px;
                }
                &.reply:before {
                    content:"\f112";
                }
                &.retweet:before {
                    content:"\f079";
                }
                &.favourite:before {
                    content:"\f004";
                }
                &:hover {
                    color:darken($light-grey, 25%);
                }
            }
        }
    }
}